.card {
  justify-content: center;
    align-items: center;
    display: grid;
    width: 330px;
    border: 1px solid #E39F0B;
    border-radius: 8px;
    padding: 0px;
    margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.card-body {
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.card-title {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.btn {
  background: #E39F0B;
  color: #fff;
  border: none;
  padding: 4px 36px;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
}